%footer.footer
  .content.has-text-centered
    %p
      %small
        %strong &copy;
        = link_to 'limestone', root_path, class: 'has-text-primary'
        All rights reserved.
        Use of this software may be subject to terms and conditions.
